version: "3.9"

services:
  app:
    build: .
    container_name: arch_clean_app
    ports:
      - "5000:5000"
    env_file:
      - .env
    depends_on:
      - mysql
    volumes:
      - .:/app
    restart: always

  mysql:
    image: mysql:8.0
    container_name: arch_clean_mysql
    environment:
      MYSQL_ROOT_PASSWORD: 123456
      MYSQL_DATABASE: clean_database
      MYSQL_USER: dev
      MYSQL_PASSWORD: 123456
    volumes:
      - mysql_data:/var/lib/mysql
    restart: always

volumes:
  mysql_data:
